{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <div class="text-center" style="padding: 25px;">
        <h1 class="text-center h1. Bootstrap heading">Location de salle </h1>
        <small class="text-center h3">Bienvenu sur notre application de location de salle de particulier à particulier</small>
    </div>

{% endblock %}
