{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}


<div class="example-wrapper">
<nav id="navbar-example2" class="navbar navbar-light bg-light">
<a class="navbar-brand" href="#">Accueil</a>

<ul class="nav nav-pills">
<li class="nav-item">
<a class="nav-link" href="#fat">Location de Salle</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#mdo">Generer une facture</a>
</li>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Compte</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="#one">Connexion</a>
<a class="dropdown-item" href="#two">Inscription</a>

</li>
</ul>
</nav>

</div>
    <h1>Bienvenue dans notre Application de location de salle! </h1>


</div>
{% endblock %}
