{% extends 'base.html.twig' %}

{% block title %}Edit Salles{% endblock %}

{% block body %}
    <h1>Modification de la salle</h1>

    {{ include('salles/_form.html.twig') }}

    {{ include('salles/_delete_form.html.twig') }}
{% endblock %}