{% extends 'base.html.twig' %}

{% block title %}Salles index{% endblock %}


{% block body %}

<div class= col-md-12 style="text-align: center;">
<h2>Bienvenue dans notre application de location de salle! </h2>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Prix/jour</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>

        {% for salle in salles %}
            <tr>
                <td>{{ salle.nom }}</td>
                <td>{{ salle.adress }}</td>
                <td>{{ salle.prix }} €</td>
                {% if app.user == salle.client %}
                    <td><button class="btn btn-success disabled">Réserver</button></td>
                {% else %}
                    <td><a href="{{path('location_new', { 'id' : salle.id })}}"><button class="btn btn-success">Réserver</button></a></td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="3">Il n'y a aucune salle</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
