{% extends 'base.html.twig' %}

{% block title %}Salles index{% endblock %}


{% block body %}

<div class= col-md-12 style="text-align: center;">
<h2>Bienvenue dans notre application de location de salle! </h2>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.nom }}</td>
                <td>
                    <a href="{{ path('salles_show', {'id': salle.id}) }}">Afficher</a>
                    <a href="{{ path('salles_edit', {'id': salle.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Il n'y a aucune salle</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
