{% extends 'base.html.twig' %}

{% block title %}New Salles{% endblock %}

{% block body %}
    <h1>Create new Salles</h1>

    {{ include('salles/_form.html.twig') }}

    <a href="{{ path('salles_show', {'id': app.user.id}) }}"><button class="btn btn-danger">Annuler</button></a>
{% endblock %}