{% extends 'base.html.twig' %}

{% block title %}New ModuleLocation{% endblock %}

{% block body %}
    <h1>Create new ModuleLocation</h1>

    {{ include('module_location/_form.html.twig') }}

    <a href="{{ path('module_location_index') }}">back to list</a>
{% endblock %}