{% extends 'base.html.twig' %}

{% block title %}New ModuleSalle{% endblock %}

{% block body %}
    <h1>Create new ModuleSalle</h1>

    {{ include('module_salle/_form.html.twig') }}

    <a href="{{ path('module_salle_index') }}">back to list</a>
{% endblock %}