{% extends 'base.html.twig' %}

{% block title %}New UserSalle{% endblock %}

{% block body %}
    <h1>Create new UserSalle</h1>

    {{ include('user_salle/_form.html.twig') }}

    <a href="{{ path('user_salle_index') }}">back to list</a>
{% endblock %}